* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "CommercialPi BT";
    src: url("../fonts/compi.ttf");
}

h2 {
    font-family: "CommercialPi BT";
    font-size: 400px;
    color: #f1dd24;
    
}



body {
    overflow-x: hidden;
}

#background {
    /* z-index: 1; */
    position: absolute;
    width: 300%;
    height: 300%;
    transform: translateX(0px);
}

#background:active {
    transform: translateX(-200px);
    transition: transform linear 4s;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-size: 3rem;
    text-align: center;
    color: aliceblue;
}

header {
    position: relative;
    z-index: 2;
    height: 200px;
    /* line-height centers text */
    line-height: 200px;
    border: goldenrod 5px solid;
}

    #container {
        width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.scroll-element {
    height: 600px;
    line-height: 600px;
}


.js-scroll {
    opacity: 0;
}

.scrolled.slide-left {
    animation: slide-in-left 1s ease-in-out both;
}


/* Star code */

#Star-icon{
    position: absolute;
    left: 290px;
    top: 100px;
    transition: 3s linear;
    user-select: none;
    
}
#Star-icon.red{
    color: red;
}
#Stage2 {
    text-align: center;
    width: 400px;
    height: 400px;
    z-index: 3;
    color: #ffffff;
    position: relative;
    transform: Scale 0.1;
    transition: 1s linear;



    
}

#Star {
    z-index: 2;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid yellow;
    position: relative;
    margin-left: 300px;
    margin-top: 600px;
    transform: scale(0.1);
}

#Star:after {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 200px solid yellow;
    position: absolute;
    content: "";
    top: 60px;
    left: -100px;

}


#Stellar {
    position: relative;
    /* z-index: 2; */
    margin-left: 300px;
    margin-top: 400px;
    height: 200px;
    width: 200px;
    border: 100px;
    border-radius: 50%;
    background-image: radial-gradient(50% 50% at 50% 50%,
            #CDD4ED 0%, #8393CE 25%, #9F64EA 50%, #443794 75%,
            rgba(248, 61, 139, 0) 100%);
    transform: scale(5);
    transition: 2s linear;

}

#Stellar.White{
    background-image:radial-gradient(50% 50% at 50% 50%,
    #CDD4ED 0%, #fffdee 25%, #d9edff 50%, #cccfff 75%,
    rgba(248, 61, 139, 0) 100%); 
}

#Nebular-Star{
    color: #CDD4ED;
    margin-left: 180px;
    margin-top: 400px;
    filter: blur(7rem);
    width: 400px;
    height: 400px;
}
#Nebular-Star.Yellow{
    color: yellow;
}

#Nebular{
    position: relative;
    /* z-index: 2; */
    margin-left: 350px;
    margin-top: 400px;
    height: 100px;
    width: 100px;
    border: 100px;
    border-radius: 50%;
    background-image: radial-gradient(50% 50% at 50% 50%,
            #f12b2b 0%, #c74a4a 25%, #ea6464 50%, #943737 75%,
            rgba(248, 61, 70, 0) 100%);
    transform: scale(5);
    transition: 2s linear;
}
#Nebular.Green{

    background-image: radial-gradient(50% 50% at 50% 50%,
            #3bf12b 0%, #764ac7 25%, #649aea 50%, #619437 75%,
            rgba(248, 61, 70, 0) 100%);

    transition: 2s linear;
}
#Nebular.Dwarf{

    background-image: radial-gradient(50% 50% at 50% 50%,
            #ffffff 0%, #c0c0c0 25%, #f7f7f7 50%, #cfcfcf 75%,
            rgba(255, 255, 255, 0) 100%);
    background-image: white;

    transition: 2s linear;
}
/* Keyframe animations */
@keyframes slide-in-left {
    0% {
        transform: translateX(-200px);
        opacity: 0;
        
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes Scale-Up{
    0%{
        transform:scale(1)
    }
    100%{
        transform: scale(2);
    }
}
